.header {
    width: 100%;
    height: 70px;
    background-color: #161616;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.04);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.header .header-wrapper {
    width: 100%;
    height: 100%;
}

.header .logo {
    float: left;
}

.header .logo a {
    line-height: 70px;
    height: 70px;
}

.header .nav {
    float: right;

}

.header .nav li {
    float: left;
    padding: 0 15px;
    height: 70px;
    line-height: 70px;
    color: #333;
    font-size: 18px;
}

.header .nav li a {
    color: #fff;
    display: block;
    position: relative;
}

.header .nav li a:after {
    content: ' ';
    position: absolute;
    z-index: 2;
    bottom: 15px;
    left: 50%;
    display: block;
    width: 100%;
    height: 2px;
    transform: translate(-50%);
}

.header .nav li a:hover:after {
    height: 2px;
    animation: ad_width .3s linear forwards;
    background: #fff;
}

@keyframes ad_width {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


/* main */

.main {
    padding-top: 70px;
    overflow: hidden;
}

.partner-plan {
    margin: 80px 0 120px;
}

.answer {
    font-size: 60px;
    margin: 30px 0 60px;
    font-family: 'PingFang-Bold';
}

.join-us-banner {
    text-align: center;
}

.join-us-btn {
    text-align: center;
    margin-top: 80px;
}

.join-us-btn a {
    width: 40%;
    height: 82px;
    background-color: #0626d3;
    border-radius: 10px;
    display: inline-block;
    font-size: 47px;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
}

.four-support {
    margin-bottom: 120px;
}

.four-support .title {
    font-size: 60px;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'PingFang-Bold';
    max-width: 70%;
    margin: 0 auto 60px;
}

.support-banner img {
    width: 50%;
}

.support-banner {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.policy {
    margin-bottom: 70px;
}

.policy .title {
    font-size: 60px;
    text-align: center;
    margin-bottom: 100px;
    font-family: 'PingFang-Bold';
}

.policy-info {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.policy-info li {
    width: 25%;
}

.top-text {
    font-size: 60px;
    margin-bottom: 20px;
}

.top-text:after {
    display: block;
    width: 50%;
    content: '';
    margin-top: 10px;
    height: 9px;
    background-color: #e03b39;
}

.bottom-text {
    font-size: 40px;
    color: rgba(69, 69, 69, 0.87);
}

.float-window {
    position: fixed;
    right: 3%;
    top: 13%;
    z-index: 100;
    padding: 25px 25px 15px;
    background-color: #fff;
    box-shadow: 5px 9px 13px 0px rgba(0, 0, 0, 0.2);
}

.float-window .store-code {
    width: 190px;
    height: 190px;
    padding: 0;
}

.float-window p {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    color: #000;
}


/* footer */

.footer {
    background-color: #414141;
    color: #dddddd;
    font-size: 14px;
}

.address-text a {
    color: currentColor;
}

.footer-wrapper {
    padding: 60px 10px 100px 50px;
    box-sizing: border-box;
}

.footer-logo {
    text-align: center;
    margin-bottom: 60px;
}

.footer-service>ul>li {
    float: left;
    width: 25%;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer-service>ul>li.address {
    padding-left: 0;
}

.footer-service>ul>li.customer-service {
    padding-left: 0;
}

.footer-service ul li.customer-service .title {
    background-image: url("../images/service.png");
}

.footer-service ul li.public .title {
    background-image: url("../images/public-icon.png");
}

.footer-service ul li.consultant .title {
    background-image: url("../images/consultant.png");
}

.footer-service ul li.cooperate .title {
    background-image: url("../images/phone.png");
}

.footer-service ul li .title {
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: left 3px;
    padding-left: 25px;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.footer-service ul li .title:after {
    content: '';
    width: 24px;
    height: 2px;
    position: absolute;
    background-color: #dddddd;
    left: 25px;
    bottom: 0;
}

.footer-service ul li .info {
    padding-left: 25px;
}

.footer-service ul li .sub-title {
    font-size: 16px;
}

.cooperate .info .info-item {
    float: left;
    text-align: center;
    cursor: pointer;
    width: 87px;
}

.cooperate .info .info-item .info-code {
    z-index: 2;
    -webkit-transform: scale(.85, .85);
    -moz-transform: scale(.85, .85);
    -ms-transform: scale(.85, .85);
    -o-transform: scale(.85, .85);
    transform: scale(.85, .85);
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -ms-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
    opacity: 0;
    width: 87px;
    height: 91px;
    position: absolute;
}

.cooperate .info .info-item:hover .info-code {
    opacity: 1;
    transform: scale(1, 1);

}

.cooperate .info .info-item p {
    margin-bottom: 10px;
}

.cooperate .info .info-item:first-child {
    margin-right: 10px;
}


.footer-service ul li.cooperate .info {
    padding-left: 0;
}

.public-way {
    margin-top: 15px;
    width: 90px;
}

.copyright {
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
    color: #666;
    background-color: #1d1d1d;
}

.v-scene-title {
    text-align: center;
    font-size: 46px;
    background-color: #161616;
    color: #fff;
    padding: 30px 0;
}

.question {
    font-family: PingFang-Bold;
}

.v-scene-title span {
    margin-left: 15px;
}

.minor-warning-tips {
    margin-left: 35px;
}

@media screen and (max-width: 1360px) {
    .wrapper {
        padding: 0 10px;
    }
}

@media screen and (max-width: 1336px) {
    .header .logo {
        float: left;
        padding-left: 20px;
    }

    .minor-warning-tips {
        width: 250px;
    }

    .header .nav li {
        font-size: 16px;
    }
}

@media screen and (max-width: 1199px) {
    .header .nav li {
        padding: 0 10px;
    }

    .minor-warning-tips {
        width: 200px;
        margin-left: 15px;
    }

    .v-scene-title {
        font-size: 30px;
    }

    .question {
        font-size: 30px;
    }

    .answer {
        font-size: 40px;
    }

    .four-support .title,
    .policy .title,
    .top-text {
        font-size: 40px;
    }

    .bottom-text {
        font-size: 24px;
    }
}


@media screen and (max-width: 1099px) {
    .footer-wrapper {
        padding: 60px 40px 100px;
    }
}

@media screen and (max-width: 1023px) {
    .header .logo {
        float: left;
        width: 100%;
    }

    .header .nav {
        display: none;
    }

    .header .nav li {
        line-height: normal;
        height: auto;
        padding: 0 20px;
    }

    .store-code {
        margin: 0 auto;
    }

}

@media screen and (max-width: 960px) {
    .footer-service ul li {
        padding-left: 0;
    }

    .four-support .title,
    .policy .title,
    .top-text {
        font-size: 32px;
    }

    .top-text:after {
        height: 4px;
    }
}

@media screen and (max-width: 870px) {

    .footer-wrapper {
        padding: 60px 10px 145px;
    }
}

@media screen and (max-width: 767px) {
    .header .nav li {
        font-size: 14px;
        padding: 0 5px;
    }

    .footer-service ul li {
        float: left;
        width: 50%;
        margin-bottom: 20px;
    }

    .header .nav li a:after {
        bottom: -1px;
    }

    .cooperate .info .info-item p {
        margin-bottom: 0;
    }

    .footer-service {
        padding-bottom: 15px;
    }

    .footer-service ul li {
        width: 100%;
        margin-bottom: 15px;
    }

    .footer-wrapper {
        padding: 20px 10px 0;
    }

    .footer-logo {
        margin-bottom: 10px;
    }

    .footer-logo img {
        width: 130px;
    }

    .copyright {
        padding: 10px 0;
    }

    .footer-service ul li .title {
        font-size: 14px;
        background-position: left 3px;
        padding-bottom: 5px;
        background-size: 15px;
        margin-bottom: 5px;
    }

    .footer-service ul li .title {
        padding-left: 22px;
    }

    .footer-service ul li .sub-title {
        font-size: 12px;
    }

    .public-way {
        margin-top: 10px;
    }

    .header .nav {
        padding-left: 5px;
        margin-top: 10px;
    }

    .header .logo {
        float: left;
        padding-left: 10px;
    }

    .minor-warning-tips {
        width: 120px;
        margin-left: 10px;
    }

    .header .logo {
        margin-top: 15px;
    }

    .header .logo a {
        line-height: normal;
        height: auto;
    }

    .float-window {
        top: 12%;
        right: 1%;
        padding: 5px 5px 2px;
    }

    .float-window p {
        font-size: 12px;
        margin-top: 0;
    }

    .float-window .store-code {
        width: 100px;
        height: 100px;
        padding: 0;
    }

    .v-scene-title {
        font-size: 20px;
        padding: 15px 0;
    }

    .v-scene-title img {
        max-width: 100px;
    }

    .v-scene-title span {
        margin-left: 10px;
    }

    .header .logo>a>img {
        width: 220px;
    }

    .partner-plan {
        margin: 30px 0 40px;
    }

    .question {
        font-size: 22px;
    }

    .answer {
        font-size: 24px;
        margin: 20px 0 30px
    }

    .join-us-btn {
        margin-top: 30px;
    }

    .join-us-btn a {
        width: 80%;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        border-radius: 5px;
    }

    .four-support .title,
    .policy .title {
        font-size: 26px;
    }

    .top-text {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .bottom-text {
        font-size: 16px;
    }

    .policy-info li {
        width: 50%;
        padding-left: 5%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin-bottom: 20px;
    }

    .top-text:after {
        height: 2px;
        width: 40%;
        margin-top: 5px;
    }

    .policy {
        margin-bottom: 30px;
    }

    .four-support .title {
        margin-bottom: 20px;
        max-width: 100%;
    }

    .four-support {
        margin-bottom: 40px;
    }

    .policy .title {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 374px) {


    .header .logo>a>img {
        width: 200px;
    }

    .minor-warning-tips {
        width: 100px;
        margin-left: 0;
    }
}