@media (max-width: 1900px) {
    .imgCenterPosition {
        width: 100%;
        left: initial;
        margin-left: 0;
    }
}


@media screen and (max-width: 1336px) {
    .header .logo {
        float: left;
        padding-left: 20px;
    }

    .suit-info .color-list li .color-box{
        width: 60px;
        height: 60px;
    }

    .minor-warning-tips{
        width: 250px;
    }

    .header .nav li{
        font-size: 16px;
    }

    .v-title {
        font-size: 60px;
    }

    .v-sub-title {
        font-size: 26px;
    }

    .feature.ceramic .words, .parameter .words{
        padding-left: 10px;
    }

    .design .words, .feature.nicotine .words{
        padding-right: 10px;
    }
}

@media screen and (max-width: 1199px){
    .header .nav li{
        padding: 0 10px;
    }

    .minor-warning-tips {
        width: 200px;
        margin-left: 15px;
    }

    .v-scene-title{
        font-size: 30px;
    }

    .v-title {
        font-size: 40px;
    }

    .v-sub-title{
        font-size: 20px;
    }

    .throwing-list {
        padding: 0 10px;
    }

    .store-items li{
        margin-left: 30px;
    }

    .online-store {
        padding: 0 10px;
    }

    .store-items{
        padding-right: 0;
    }
}


@media screen and (max-width: 1099px) {


    .suit-text{
        margin-top: 10px;
    }

    .suit-list {
        padding: 40px;
    }

    .footer-wrapper{
        padding: 60px 40px 100px;
    }
}

@media screen and (max-width: 1045px) {
    .words .title {
        font-size: 60px;
    }

    .taste-title {
        padding-left: 20px;
        background-position:  200% center;
    }

    .suit-list {
        padding: 8% 20px;
    }

    .feature .words .title,.parameter .words .title ,.design  .words .title{
        font-size: 40px;
    }

    .suit-text {
        margin-left: 5%;
    }
}

@media screen and (max-width: 1023px){
    .header .nav,.header .logo{
        float: left;
        width: 100%;
    }

    .header{
        height: 100px;
    }

    .main{
        padding-top: 100px;
    }

    .header .nav li{
        line-height: normal;
        height: auto;
        padding: 0 20px;
    }

    .v-scent-words h3 span{
        font-size: 18px;
    }

    .v-scent-words p{
        font-size: 14px;
    }

    .words {

        padding-top: 3%;
    }

    .os-l p{
        font-size: 28px;
    }

    .os-l, .os-r{
        width: 100%;
    }

    .store-items {
        float: none;
        margin-top: 20px;
    }

    .store-items li{
        margin-left: 0;
        width: 33.333%;
        padding-right: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .main>div {
        margin-bottom: 30px;
    }

    .store-code{
        margin: 0 auto;
    }

}

@media screen and (max-width: 960px) {
    .words {
        padding-top: 4%;
    }

    .suit-list {
        padding: 8% 20px;
    }

    .footer-service ul li{
        padding-left: 0;
    }

    .suit-text li img {
        max-width: 90%;
    }

    .suit-info{
        padding-bottom: 6%;
    }

}

@media screen and (max-width: 870px) {
    .design .aside-img, .feature .aside-img, .parameter .aside-img{
        width: 100%;
    }

    .design .words, .feature .words, .parameter .words {
        width: 100%;
        padding: 10px!important;
    }

    .suit-info{
        padding-top: 60px;
    }

    .footer-wrapper{
        padding: 60px 10px 145px;
    }

    .design-p-img{
        top: 26%;
    }
}

@media screen and (max-width: 767px){
    .header .nav li{
        font-size: 14px;
        padding:0 5px;
    }

    .suit-info,.suit-swiper {
        width: 100%;
        padding-left: 0;
    }

    .suit-text li {
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -65px;
    }

    .suit-info .color-list{
        justify-content: center;
    }

    .suit-info {
        padding-top: 20px;
        margin-left: 0;
        margin-top: 10px;
    }

    .suit-info-content{
        float: none;
        width: 100%;
    }

    .suit-info .color-list li{
        margin-right: 10px;
    }

    .suit-text {
        margin-top: 10px;
        min-height: 100px;
        margin-left: 0;
    }

    .taste-title{
        background: transparent;
    }

    .main > div {
        margin-bottom: 20px;
    }

    .main > div.taste {
        margin: 40px 0;
    }

    .taste-title img{
        width: 230px;
    }

    .suit-list{
        padding: 20px;
    }

    .taste-list li {
        float: left;
        width: 50%;
        margin-top: 20px;
    }

    .footer-service ul li {
        float: left;
        width: 50%;
        margin-bottom: 20px;
    }

    .header .nav li a:after{
        bottom: -1px;
    }

    .suit-swiper{
        position: relative;
        box-shadow: 0px 2px 8px rgba(3,3,3,.122);
    }

    .cooperate .info .info-item p{
        margin-bottom: 0;
    }

    .footer-service {
        padding-bottom: 15px;
    }

}

@media screen and (max-width: 640px){

    .main > div.taste{
        margin: 20px 0;
    }

    .footer-service ul li {
        width: 100%;
        margin-bottom: 15px;
    }

    .kol-items img,.safety-items img{
        width: 100%;
    }

    .header{
        height: 90px;
    }

    .main{
        padding-top: 90px;
    }

    .taste-title{
        padding-left: 10px;
    }

    .suit-list{
        padding: 10px;
    }

    .footer-wrapper {
        padding: 20px 10px 0;
    }

    .public-way .sina img,.public-way .wx-box > img,.f-ins-box img {
        width: 30px;
    }

    .footer-logo{
        margin-bottom: 10px;
    }

    .footer-logo img{
        width: 130px;
    }

    .copyright{
        padding: 10px 0;
    }

    .footer-service ul li .title{
        font-size: 14px;
        background-position: left 3px;
        padding-bottom: 5px;
        background-size: 15px;
        margin-bottom: 5px;
    }

    .footer-service ul li .title{
        padding-left: 22px;
    }

    .footer-service ul li .sub-title {
        font-size: 12px;
    }

    .wx-box{
        padding-bottom: 0;
    }

    .address-text{
        font-size: 12px;
    }

    .public-way {
        margin-top: 10px;
    }

    .wx-code{
        top: 40px;
    }

    .taste-title img {
        width: 120px;
    }

    .suit-text li{
        padding-top: 5px;
    }

    .suit-info .color-list li .color-box{
        width: 40px;
        height: 40px;
    }

    .suit-text li img{
        max-width: 140px;
    }

    .suit-info .color-list li.active .color-box{
        border-width: 2px;
    }

    .suit-info:after{
        border: none;
    }

    .suit-text li:before{
        width: 25px;
        height: 3px;
    }

    .swiper-pagination-bullet {
        width: 30px;
        height: 3px;
    }

    .words .text, .feature .words .text{
        font-size: 12px;
    }

    .suit-text{
        margin-top: 5px;
        min-height: 50px;
    }

    .words .sub-title {
        font-size: 14px;
        margin-top: 10px;
    }

    .feature .words .title, .parameter .words .title, .design .words .title {
        font-size: 20px;
    }

    .feature .words .text{
        margin-top: 15px;
    }

    .feature .aside-img{
        text-align: center;
    }

    .words .title{
        padding-bottom: 2px;
    }

    .words .title:after{
        height: 2px;
        margin-left: 2px;
    }

    .header .nav{
        padding-left: 5px;
        margin-top: 10px;
    }

    .header .logo {
        float: left;
        padding-left: 10px;
    }

    .v-scent-list li{
        width: 50%;
        margin-bottom: 10px;
    }

    .v-scene-image img {
        max-width: 80%;
    }

    .v-scene-image {
        text-align: center;
    }

    .v-scent-words h3 span{
        font-size: 14px;
        border-bottom-width: 1px;
        padding-bottom: 0;
        margin-bottom: 5px;
    }

    .v-scent-words p{
        font-size: 12px;
    }

    .v-scene-title span {
        margin-left: 10px;

    }

    .v-scene-title img{
        max-width: 100px;
    }

    .v-scene-title{
        font-size: 20px;
        padding: 10px 0;
    }

    .v-scent-list{
        padding: 15px 0;
    }

    .words img {
        max-width: 100px;
    }

    .v-title {
        font-size: 28px;
        margin-top: 5px;
    }

    .v-sub-title{
        font-size: 18px;
    }

    .suit-elite-taste-list{
        padding-top: 10px;
        margin-top: 10px;
    }

    .throwing-info, .throwing-list{
        margin-top: 20px;
    }

    .partner{
        padding: 10px 0;
    }

    .partner-items{
        margin-top: 10px;
    }

    .partner-items img{
        max-width: 50px;
    }

    .kol-tweets {
        padding: 10px 0;
    }

    .kol-tweets .v-title{
        margin: 10px 0
    }

    .kol-items {
        margin-top: 20px;
    }

    .foreign-kol-box {
        margin-bottom: 20px;
    }

    .os-l p {
        font-size: 20px;
        margin-top: 10px;
    }

    .store-code{
        width: 90px;
        height: 90px;
    }

    .store-items li{
        padding: 0 5px;
    }

    .store-name{
        margin-top: 10px;
        font-size: 12px;
    }

    .header .logo > a > img{
        width: 220px;
    }

    .minor-warning-tips{
        width: 120px;
        margin-left: 10px;
    }

    .header .logo{
        margin-top: 15px;
    }

    .header .logo a{
        line-height: normal;
        height: auto;
    }
}

@media screen and (max-width: 590px){

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 0;
    }
}


@media screen and (max-width: 374px){


    .header .logo > a > img{
        width: 200px;
    }

    .minor-warning-tips {
        width: 100px;
        margin-left: 0;
    }
}
